/*
** Additional styles for a reveal.js slideshow.
**
** Ivana Kellyerova, 2018
*/

section h1#title {
    font-size: 2em;
    color: #20b2aa;
    text-transform: lowercase;
}

section img.borderless {
    border: 0;
}

section img.shadowless {
    box-shadow: none;
}

section p.small,
section span.small {
    font-size: 0.7em;
}

section p.absolute {
    position: absolute;
}

section p.right {
    right: 0;
}

section p.left {
    left: 0;
}

section p.top {
    top: 0;
}

section p.bottom {
    bottom: 0;
}

section p.vertical-30 {
    top: 30%;
}

section p.vertical-60 {
    top: 60%;
}

section h1.white {
    color: #ffffff;
}

section > h2.lower {
    color: #20b2aa;
    text-transform: lowercase;
    font-size: 1.5em;
}

.color-1 {
    color: #20b2aa;
}

.color-2 {
    color: #db7093;
}

.color-3 {
    color: #615acd;
}

.color-4 {
    color: #9acd32;
}

.color-5 {
    color: #b22222;
}

.color-6 {
    color: #088;
}

.color-7 {
    color: #adff2f;
}

.color-8 {
    color: #96c;
}

.color-9 {
    color: #ffd700;
}

.color-10 {
    color: #bc8f8f;
}

.color-11 {
    color: #556b2f;
}

.color-12 {
    color: #789;
}

.color-13 {
    color: #ff6347;
}
